<% layout("/layouts/boilerplate") -%>

  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Edit your listing</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"
        enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required />
          <div class="valid-feedback">Titel Is good</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required>
<%=listing.description %></textarea>
          <div class="invalid-feedback">Add a short description</div>
        </div>
        <div>
          <img src="<%= orignalImg %>" alt="listing Image">
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload New listing Image </label>
          <input type="file" name="listing[image]" class="form-control" />
          <!-- <div class="invalid-feedback">Enter some comments</div>
        <div class="invalid-feedback">Add a valid image URl</div>
      </div> -->

          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input type="text" name="listing[price]" value="<%= listing.price %>" class="form-control" required />
              <div class="invalid-feedback">Add a valid price</div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="location" class="form-label">Location</label>
              <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control"
                required />
              <div class="invalid-feedback">Add a valid Location</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="contry" class="form-label">Country</label>
            <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required />

            <div class="invalid-feedback">Add a valid Country</div>
          </div>

          <button class="btn btn-dark edit-btn mt-3">Edit</button>
      </form>
    </div>
  </div>